@import "colors";

* {
    font-family: "Poppins", georgia, serif;
}

body {
    background: $white;
}

section.banner-img-top {
    .banner-img {
        width: 100%;
        max-height: 70vh;
    }

    .centered {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
    }
}

section.what-everest {
    .bg-blue {
        background: $blue;
        color: $white;
        padding: 30px;
        display: flex;
    }

    .blog-content-1 {
        font-size: 1em;
        padding-left: 10%;
        padding-right: 10%;
    }

    .title {
        font-size: 1.8em;
        font-weight: bold;
    }

    a {
        color: $white;
    }
}

section.everest-community {
    font-weight: normal;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-left: 20%;
    padding-right: 20%;
    color: $blue;
}

section.investment-thesis-section {
    background: $gray;
    padding: 50px 0;

    .title {
        font-size: 1.5em;
        font-weight: bolder;
        padding: 0;
        padding-bottom: 20px;
        color: $blue;
    }

    .card {
        background: $white;
        box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
        border-radius: 5px;
        overflow: hidden;
        padding: 10px;
        position: relative;
        margin: 10px 30px;
        min-height: 90px;

    }

    .block {
        overflow: hidden;
        padding: 10px;
        position: relative;
        margin-top: unset;
        display: flex;
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    /* Accordion styles */
    .tabs {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    }

    .tab {
        color: $black;
        overflow: hidden;
        min-height: 130px;

        &-label {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            background: $white;
            font-weight: bold;
            cursor: pointer;
            min-height: 60px;

            /* Icon */
            &::after {
                content: "\276F";
                text-align: center;
                transition: all .35s;
            }
        }

        &-content {
            max-height: 0;
            // padding: 0 1em;
            color: $black;
            background: $white;
            transition: all .35s;
            overflow: hidden;

        }

        &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            background: $white;
            cursor: pointer;
        }
    }

    // :checked
    input:checked {
        +.tab-label {

            &::after {
                transform: rotate(90deg);
                min-height: 10px;

            }
        }

        ~.tab-content {
            max-height: 50vh;
            min-height: 190px;
            padding: 1em;
        }
    }

    /* counter  */


    .number-1 {
        counter-reset: numbering-inc;
        counter-increment: numbering-inc 0;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 20px;
            justify-content: space-evenly;
            padding: 5px 30px;
            // max-height: 200px;

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }

            /* li {
                min-height: 100px;
            } */

        }

        li:before {
            content: counter(numbering-inc);
            counter-increment: numbering-inc;
            background: $red;
            padding: 10px;
            position: relative;
            top: 20px;
            font-weight: bold;
            color: #fff;
            margin: 0 10px;
            z-index: 1;
            margin: 60px;
        }
    }

}

section.data-glance {

    .data-1 {
        background: $blue;
        color: $white;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        padding: 20px;
        position: relative;
        margin: 10px 30px;
        min-height: 135px;
    }

    .border-1 {
        border: 1px solid $white;
        padding: 20px;
    }

    .bg-blue-1 {
        background: $blue;
        color: $white;
        padding: 30px;
        padding-left: 2%;
    }

    .country-name {
        font-size: 1.1em;
        padding: 1em;
        padding-left: 10%;
        padding-right: 10%;
    }

    b {
        font-size: 2em;
    }

    .title {
        font-size: 1.5em;
        font-weight: bold;
        padding: 30px 0;
        padding-bottom: 30px;
        color: $white;
    }

    .content-1 {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        justify-content: space-evenly;
        padding: 5px 30px;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
}

section.talk-directly {
    margin: 10px;
    padding: 30px;

    .title {
        font-size: 1.8em;
        font-weight: 600;
        padding: 30px 0;
        padding-bottom: 30px;
        color: $blue;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-content: flex-start;
            flex-wrap: wrap;
        }

        span {
            font-weight: 400 !important;
            font-size: small;
        }
    }

    .meeting-svg-1 {
        max-width: 90px;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 auto;
    }

    .meet-text {
        padding: 10px;
    }

    .border-1 {
        background: $gray;
        border: 1px solid #cecbcb;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        margin: 20px 10px;
        // min-width: 40%;
        // padding: 10px 30px;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: start;
            margin: 10px;
            padding: 10px 20px;
        }
    }

    .content-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px 10px;

        // padding: 5px 30px;
        p {
            font-size: 1.2em;
            font-weight: 300;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            position: relative;
            top: 15px;

            // flex-wrap: wrap;

        }
    }
}

section.sign-up-for-investor-alert {
    background: $gray;
    padding: 30px;

    .title {
        color: $blue;
        padding: 30px 10px;
        font-size: 1.6em;
        font-weight: 600;
    }

    .img-phn {
        position: relative;
        top: 80px;

        @media screen and (max-width: 767px) {
            top: 0;
        }

        /*  @media screen and (max-width: 416px) {
            top: 0px;
        } */
    }

    .form-control {
        border: 1px #ccc !important;
        border-radius: 0 !important;
    }
}


section.download-1 {
    background: $white;
    padding: 30px;

    .title {
        color: $blue;
        padding: 30px 10px;
        font-size: 1.6em;
        font-weight: 600;
    }

    .form-control {
        border: 1px $white !important;
        border-radius: 0 !important;
        background: $gray;
    }
}

.center-1 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.flt-r {
    float: right;
}

.flt-l {
    float: left;
}

.flt-c {
    float: center;
}

.btn-clr-blue {
    background: $blue;
    color: $white;
    border: 1px solid $blue;
    border-radius: 75px;
    padding: 3px 30px;
}