$bg-color: rgba(148, 225, 255, 0.774);
$purpul: rgba(174, 0, 255, 0.602);

.navbaar {
    background-color: $bg-color;
}

body {
    background-color: $purpul;
    background-image: url("https://source.unsplash.com/1920x1080/?black");
    color: black !important;
}

.para {
    background-color: rgba(0, 128, 128, 0.472);
    color: white;
}

.blog {
    font-size: 20px;
    padding: 30px;
}

.card23 {
    background-color: rgba(245, 245, 245, 0.294);

}